.page-wrap {
	width: 90%; /* width: 1080px */
	margin: 2% auto 0; /* 20px / 1080px = 2% */
	color: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/******************************************************************************/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/******************************************************************************/

.page-header {
	width: 100%;
	padding: 1% 0 4%; /* 10px / 1080px = 1% */
	border-bottom: 1px solid #333;
	text-align: center;
	font-family: cursive;
	font-size: 3em; /* 48px / 16px = 3em */
}

/******************************************************************************/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Navigation >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/******************************************************************************/

nav {
	float: left;
	width: 18%; /* 200px / 1080px = 0.1851851851851852 */
}

nav > ul {
	padding-top: 15%; /* 30px / 200px -> 15% */
}

nav > ul > .nav-item {
	padding-bottom: 5%; /* 10px / 200px -> 5% */
}

nav > ul > .nav-item > a:hover, .nav > .nav-item > a:focus {
	color: #002596;
	text-decoration: none;
}

/******************************************************************************/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/******************************************************************************/

.post {
	float: left;
	width: 77%; /* 840px / 1080px = 77% */
	padding: 2% 1%; /* 20px / 840px = 2% */
}

.post .post-header {
	padding-bottom: 3%; /* 25px / 840px = 3% */
	font-family: cursive;
}

.post .post-header .post-title {
	padding-top: 1%; /* 10px / 840px = 1% */
	font-size: 1.5em; /* 24px / 16px = 1.5em */
}

.post .post-body p {
	padding-bottom: 2%; /* 20px / 840px = 2% */
	font-size: 1em;
	line-height: 28px;
}

.post .post-image {
	padding-bottom: 2%; /* 20px / 840px = 2% */
	width: 100%;
}

/******************************************************************************/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/******************************************************************************/

.post-footer .post-author {
	font-family: cursive;
}
