.page-wrap {
	max-width: 900px;
	margin: 50px auto 0;
	color: #000;
}

/******************************************************************************/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HEADER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/******************************************************************************/
header {
	padding: 1% 0 10%;
	text-align: center;
}

.wordmark {
	padding-bottom: 4%;
	font-weight: 700;
	font-size: 3em;
}

header nav {
	border-top: 1px solid #333;
}

header ul {
	display: inline-block;
	margin: 0 auto;
	padding-top: 3%;
}

header ul > li {
	display: inline-block;
	padding-left: 90px;
	font-size: 1.2em;
}

header ul > li:first-child {
	padding-left: 0;
}

/******************************************************************************/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< WORK >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/******************************************************************************/
.work {
	padding-bottom: 4%;
}

.work .piece {
	float: left;
	margin: 6px 2px;
	padding: 8px 22px;
	border: 1px solid #999;
	background-color: #FFF;
	text-align: center;
	cursor: pointer;
}

.work .piece .piece-label {
	padding-top: 2%;
	font-size: 1em;
	color: #333;
	text-align: center;
}

.work .piece a:hover, .work .piece a:focus {
	text-decoration: none;
}

/******************************************************************************/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/******************************************************************************/
footer .social-links {
	overflow: hidden;
	padding: 2% 0 4%;
	float: right;
}

footer .social-links li {
	float: left;
}

footer .social-links li + li {
	margin-left: 1em;
}

footer .social {
	color: #AAA;
	font-size: 1.5em;
}

footer .social:hover, footer .social:focus {
	color: #000;
}

footer .social-links a:hover, footer .social a:focus {
	text-decoration: none;
}
